<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block head_title %}Post your Blogs{% endblock head_title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <div class='container'>
            {% block content %}
                <h2>Content of base html file</h2>
            {% endblock content %}
        </div>
    </body>
</html>