{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<div class="col-md-10 col-md-offset-1">
    <h1>Post Details</h1>
    <!-- {{ PostListObj }} -->
    <div ng-app="postdetail" ng-controller="postDetailCtrl" ng-init="postdetails()">
        <!-- <div ng-repeat="postDetail in PostListObj"> -->
            <h2>{{postdetailobj.title}} <small>{{postdetailobj.timestamp}}</small></h2>
            <blockquote>
                <p>{{postdetailobj.content}}</p>
                <footer>Posted by <strong>
                    <!-- {{postdetailobj.user}} -->
                     <div ng-controller="userDetailCtrl" ng-init="userdetail();user='{{postdetailobj.user}}'">
                        <!-- ng-model="postdetailobj.user" 
                            <a href="{{userName.url}}"><span ng-bind="userName.username"></span></a>  -->
                    <div user-link></div>
                    <user-link /> 
                    <!-- <div class="user-link"></div> -->
                </strong>
            </blockquote>
        </div>
    </div>
</div>
<script type="text/javascript" src="post_detail.js"></script>


{% endblock content %}